# Виртуальное окружение
venv/
venv_main/
env/

# Все .env файлы (исключаем из Git)
.env
**/.env
.env.*
**/.env.*

# Но разрешаем примеры конфигураций
!.env.example
!frontend/.env.example
!backend/.env.example

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
!frontend/src/lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# Celery
celerybeat-schedule*

# Редакторы
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы базы данных
*.db
*.sql

# Локальные конфигурации
core/local_settings.py
.idea/
.venv_main/
.venv/
.env
.env.prod
**/.env.prod
**/.env.*
**/docker/**/.env*
postgres/data/
docker-compose.local.yml
.env.backend
.env.dev
.env.prod
.cursorignore

# Скрипты бэкапа и восстановления БД
backend/backup_db.py
backend/restore_db.py

# Директория с бэкапами БД
backend/backups/
backend/**/*.json.gz

# Backend специфичные файлы
backend/*.dat
backend/get_private_key_from_seed.py
backend/logs
.cursorignore
.gitattributes
.cursorrules
