.sidebar {
  position: fixed;
  width: 90px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-card);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hamburger {
  margin-top: 110px;
  width: 30px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navItems {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navItem {
  position: relative;
  width: 90px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemActive {
  background-color: rgba(156, 107, 255, 0.1);
}

.activeIndicator {
  position: absolute;
  width: 10px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #9c6bff;
  border-radius: 0 6px 6px 0;
}


.icon {
  width: 25px;
  height: 25px;
}

.iconLarge {
  width: 30px;
  height: 30px;
}

.iconMedium {
  width: 25px;
  height: 30px;
}

.iconSidebar {
  width: 30px;
  height: 29px;
}

.avatar {
  width: 44px;
  height: 44px;
  margin-left: 4px;
}

.avatarFallback {
  font-size: 14px;
}
