# Виртуальное окружение
venv/
venv_main/
env/
.env

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Редакторы
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы базы данных
*.db
*.sql

# Локальные конфигурации
core/local_settings.py 
.idea/
.venv_main/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.dat

# Скрипт для генерации приватных ключей из seed
get_private_key_from_seed.py

# Скрипты бэкапа и восстановления БД
backup_db.py
restore_db.py

# Директория с бэкапами БД
backups/
*.json.gz
