.statsRow {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-card-dark);
  border-radius: 15px;
  padding: 0 20px;
  height: 48px;
  align-items: center;
  margin: 20px 0;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
  font-size: 14px;
}