.modalWrapper {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 2147483647;
    top: 0;
    left: 0;
    overscroll-behavior: none;
    scrollbar-width: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.724);
    gap: 10px;
    transition: opacity 1.7s ease, visibility 1.7s ease, transform 1.7s ease;
}

.modal {
    margin: auto;
    position: relative;
    z-index: 1001;
    background-color: hsl(var(--card));
    border: 1px solid hsl(var(--border));
    border-radius: 15px;
    width: 95vw;
    max-width: 600px;
    min-width: 400px;
    padding: 20px;
    /*transition: visibility 0.7s ease;*/
    /*box-shadow: 20px 25px 50px rgba(92, 237, 217);*/ /* вариант смещенной вниз-вправо подсветки */
    box-shadow: 0px 0px 300px rgba(92, 237, 217); /* вариант рассеивающейся по центру подсветки */
    z-index: 2147483647;
    max-height: 90vh;
    overflow-y: auto;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 640px) {
    .modal {
        width: 500px;
        max-width: 600px;
        padding: 30px;
        border-radius: 25px;
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 600px;
        max-width: 80vw;
    }
}

.btnWrapper {
    position: absolute;
    right: -30px;
    top: 29px;
}