.modal {
  display: flex;
  flex-direction: column;
  width: 570px;
  box-sizing: border-box;
  background-color: #43454d;
  color: black;
  padding: 50px 60px 50px 60px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
  z-index: 2147483647;

}
@media(max-width:435px){
  .modal{
    width: 320px;
    padding: 25px 30px 25px 30px;
  }
}