.container {
  /*background-color: var(--color-background);*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wrapper {
  /*background-color: var(--color-background);*/
  width: 100%;
  max-width: 1920px;
  position: relative;
  padding-left: 90px;
}

.wrapperMain {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.header {
  /*position: absolute;*/
  /*width: 416px;*/
  /*height: 48px;*/
  /*top: 70px;*/
  /*right: 140px;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 30px;
}

.searchContainer {
  display: flex;
  height: 48px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 48px;
}

.searchInput {
  width: 96px;
  height: 40px;
  background-color: var(--color-card);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.actionButton {
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: var(--color-card-dark);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfile {
  width: 146px;
  height: 48px;
  background-color: var(--color-card-dark);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 8px;
  font-weight: 500;
  color: var(--color-text);
  font-size: 14px;
}

.sidebar {
  position: fixed;
  width: 90px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-card);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger {
  margin-top: 68px;
  width: 30px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navItems {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navItem {
  position: relative;
  width: 90px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemActive {
  background-color: rgba(156, 107, 255, 0.1);
}

.activeIndicator {
  position: absolute;
  width: 10px;
  height: 46px;
  top: 0;
  left: 0;
}

.icon {
  width: 25px;
  height: 25px;
}

.iconLarge {
  width: 30px;
  height: 30px;
}

.iconMedium {
  width: 25px;
  height: 30px;
}

.iconSidebar {
  width: 30px;
  height: 29px;
}

.avatar {
  width: 44px;
  height: 44px;
  margin-left: 4px;
}

.avatarFallback {
  font-size: 14px;
}
