.container {
  /*background-color: var(--color-background);*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wrapper {
  /*background-color: var(--color-background);*/
  width: 100%;
  max-width: 1920px;
  position: relative;
  padding-left: 90px;
}

.wrapperMain {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 0;
  }
}
