.container {
  /*background-color: var(--color-background);*/
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper {
  /*background-color: var(--color-background);*/
  width: 100% !important;
  max-width: 1920px !important;
  position: relative !important;
  padding-left: 90px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.wrapperMain {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 30px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 0 !important;
  }
}
