.container {
  width: 100%;
  max-width: 1642px;
  margin: 0 auto;
  padding: 64px 0;
}

.title {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 64px;
}

.cryptoGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 768px) {
  .cryptoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .cryptoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cryptoCard {
  background-color: var(--color-card);
  border-radius: 25px;
  padding: 24px;
}

.cardContent {
  padding: 0;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cryptoInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cryptoImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.cryptoName {
  font-size: 20px;
  font-weight: normal;
  color: var(--color-text);
}

.cryptoFullName {
  font-size: 14px;
  color: var(--color-text-secondary);
}

.toggleGroup {
  background-color: var(--color-card-dark);
  border-radius: 15px;
  height: 48px;
  display: flex;
  align-items: center;
}

.toggleItem {
  padding: 9px 12px;
  font-size: 14px;
  color: var(--color-text);
  border-color: transparent;
}

.chartContainer {
  margin-top: 16px;
}

.statsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background-color: var(--color-card-dark);
  padding: 12px 16px;
  border-radius: 10px;
  color: var(--color-text);
}

.statItem {
  font-size: 14px;
  /*color: var(--color-text-secondary);*/
}

.investmentInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;
  color: var(--color-text);
}

.investmentInfo * {
  display: flex;
  flex-direction: column;
}

.actionButtons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.investButton,
.withdrawButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}

.investButton {
  border-color: transparent;
}

.investButton {
  background-color: var(--color-primary);
  color: white;
}

.withdrawButton {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
